MySQL-python==1.2.5
Pillow==5.1.0
backports-abc==0.5
backports.ssl-match-hostname==3.5.0.1
certifi==2022.12.7
chardet==3.0.4
idna==2.6
redis==2.10.6
requests==2.18.4
singledispatch==3.4.0.3
six==1.11.0
tornado==4.3
torndb==0.3
urllib3==1.22
wsgiref==0.1.2

